* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Microsoft YaHei', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
body {
    width: 100%;
    /*height: 1000px;*/
    overflow: hidden;
}
.sidebar {
    width: 300px;
    height: 100%;
    float: left;
    background: #e0e0e0;
}
.logo {
    border: 1px solid #ddd;
    margin-bottom: -1px;
}
.content {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    overflow: scroll;
}
.dropbox {
    width: 100%;
    background: #ffffff;
    border: solid #ddd 1px;
    padding: 10px;
}
.dropbox .dropbox-container {
    margin: auto;
    height: 100%;
    max-width: 80%;
}
.dropbox form {
    height: 100%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

form.dropzone {
    color: #337ab7;
    border: dashed #2e6da4 2px;
    border-radius: 3px;
}
.toolbar {
    width: 100%;
    border-bottom: solid #ddd 1px;
    padding: 10.5px;
}

.toolbar .btns {
    width: 100%;
    height: 34px;
    margin-bottom: 12px;
}
.toolbar .form {
    padding: 10px;
    line-height: 30px;
    height: 53px;
}
.toolbar .form *{
    vertical-align: middle;
    margin-right: 5px;
    float: left;
    height: 30px;
}