<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block head %}
        <title>中国邮政小包账务系统</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

        <link rel="stylesheet" type="text/css" href="../static/css/html5reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/backgrid.css">
        <link rel="stylesheet" type="text/css" href="../static/css/backgrid-paginator.css">
        <link rel="stylesheet" type="text/css" href="../static/css/backgrid-select-all.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-flat.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-flat-extras.css">
        <link rel="stylesheet" type="text/css" href="../static/css/dropzone.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <script src="../static/js/lib/jquery.js"></script>
        <script src="../static/js/lib/underscore.js"></script>
        <script src="../static/js/lib/backbone.js"></script>
        <script src="../static/js/lib/backbone-pageable.js"></script>
        <script src="../static/js/lib/backgrid.js"></script>
        <script src="../static/js/lib/backgrid-paginator.js"></script>
        <script src="../static/js/lib/backgrid-select-all.js"></script>
        <script src="../static/js/lib/bootstrap.min.js"></script>
        <script src="/static/js/lib/dropzone.js"></script>
        {% endblock %}
    </head>
    <body>
        <div class="sidebar">
            <div class="logo">
                <img src="/static/img/logo.jpg" alt="" width="298px"/>
            </div>
            <div class="list-group">
                <a href="/records" class="list-group-item">运单记录<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
                <a href="/prices" class="list-group-item">价格分区<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
                <a href="/clients" class="list-group-item">客户信息<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
                <a href="/special_rates" class="list-group-item">特殊折扣<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
                <a href="/statistics" class="list-group-item">账务统计<span class="glyphicon glyphicon-menu-right pull-right"></span></a>
            </div>
            <div class="dropbox">
                <div class="dropbox-container">
                    {% block dropbox %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
            <div id="data_table">
            </div>
            <div id="pagination">
            </div>
        </div>
        {% block script %}
        <script src="/static/js/main.js"></script>
        {% endblock %}
    </body>
</html>
