{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <script src="/static/js/DataTableToolbar.js"></script>
{% endblock %}
{% block content %}
    <div class="toolbar">
    </div>
{% endblock %}
{% block dropbox %}
    <form action="/ajax/load_clients" class="dropzone" id="file-upload">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/clients.js"></script>
{% endblock %}