{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
{% endblock %}
{% block dropbox %}
    <form action="/ajax/load_prices" class="dropzone" id="file-upload">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/prices.js"></script>
{% endblock %}