{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        <div class="btns">
            <a id="clear_records" class="btn btn-danger" href="#" role="button">清空运单记录</a>
        </div>
    </div>
{% endblock %}
{% block dropbox %}
    <form action="/ajax/load_records" class="dropzone" id="file-upload">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/records.js"></script>
{% endblock %}