{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datepicker.css">
    <script src="/static/js/lib/bootstrap-datepicker.js"></script>
    <script src="/static/js/lib/bootstrap-datepicker.zh-CN.js"></script>
    <script src="/static/js/DataTableToolbar.js"></script>
{% endblock %}
{% block content %}
    <div class="toolbar">
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/special_rates.js"></script>
{% endblock %}