{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datepicker.css">
    <script src="/static/js/lib/bootstrap-datepicker.js"></script>
    <script src="/static/js/lib/bootstrap-datepicker.zh-CN.js"></script>
{% endblock %}
{% block content %}
    <div class="toolbar">
        <div class="btns">
            <a id="export_excel" class="btn btn-primary" href="#" role="button">导出Excel文件</a>
        </div>
        <form class="form bg-info" action="/statistics" method="get">
            <input id="client_name" name="client_name" type="text" placeholder="客户名称"/>
            <input id="start_date" name="start_date" class="dates" value="" type="text" step="" placeholder="开始日期">
            <input id="end_date" name="end_date" class="dates" value="" type="text" step="" placeholder="结束日期">
            <button class="btn btn-primary pull-right">应用筛选</button>
        </form>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/statistics.js"></script>
{% endblock %}